@model LB_1.Game

@{
    ViewData["Title"] = "Видалити";
}

<h1>Видалити</h1>

<h3>Ви впевнені, що бажаєте видалити цей запис?</h3>
<div>
    <h4>Ігра</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Config.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Config.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Croupier.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Croupier.Name)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Table.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Table.Id)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> |
        <a asp-action="Index">Назад</a>
    </form>
</div>
